= content_for(:title, 'Home')

.container-fluid
  #pins.transitions-enabled
    - @pins.each do |pin|
      .box.panel.panel-default
        = link_to (image_tag asset_url(pin.image.url)), pin
        .panel-body
          %h2= link_to pin.title, pin
          %p.user
            Submitted by:
            %div.avatar
              = link_to (image_tag pin.user.gravatar_url), pin.user
            = link_to pin.user.username, pin.user