= content_for(:title, " #{@pin.title}")
.row
  #pins-sidebar.center
    .col-md-4
      .panel-default
        .panel-heading
          .btn-group.pull-right
            - if user_signed_in?
              - if current_user.voted_for? @pin
                - @voted = true
            = link_to like_pin_path(@pin),
                method: :put, :class => 'btn btn-sm ' + (@voted ? 'btn-success' : 'btn-default') do
              %span.glyphicon.glyphicon-heart
                = @pin.get_likes.size

            - if user_signed_in? && current_user.email == @pin.user.email
              = link_to ' Edit Pin', edit_pin_path, class: 'btn btn-default btn-sm'
              = link_to 'Delete Pin', pin_path, method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger btn-sm'

          %div(class="pins-info pull-right col-md-5 col-md-offset-4" style="margin-top: 15px; margin-botom: 15px;" )
            %b Uploaded on:
            %br
            = @pin.created_at.to_s(format = :short)

            %br
            %br

            %b Updated on:
            %br
            = @pin.updated_at.to_s(format = :short)
          %p.user
            Submitted by:
            %div.avatar
              = image_tag @pin.user.gravatar_url
            = @pin.user.username

        .panel-footer
          .pin-liked-by
            - if @pin.get_likes.size != 0
              %b Liked by:
              - @pin.votes_for.voters.each do |user|
                = user.username
          %b
          - file_size = number_to_human_size(@pin.image_file_size, precision: 2)
          = link_to "Download larger version (#{file_size.to_s} #{@pin.image_content_type.split('/').last.upcase})",
            @pin.image.url, target: '_blank'



  #pins_show.center
    .col-md-8
      .panel-default
        .panel-heading.pin_image
          = image_tag asset_url(@pin.image.url), class: 'img-responsive'

        .panel-body
        %h1= @pin.title
        %p.description= @pin.description

        .panel-footer
          - disqus_thread
